<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7dKn4y2En_-z342-tqmldr07sUOTxIZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>459587770913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phantomscanbliss</string>
	<key>PROJECT_ID</key>
	<string>phantomscanbliss</string>
	<key>STORAGE_BUCKET</key>
	<string>phantomscanbliss.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459587770913:ios:f44c1daa8631745191e160</string>
</dict>
</plist>